<a href="https://colab.research.google.com/github/randerson2113/CSC7002PythonCourse/blob/main/Week_2_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Week 2 Notes

1.   Functions

    *   List item
    *   List item
    *   List item
    *   List item
    *   List item
    *   List item
    *   List item

2.

In [4]:



def sum_numbers(a,b):
  sum = a+b
  return(sum)

print("give me two numbers")
a = int(input())
b = int(input())
sum_numbers(a,b)

give me two numbers
1
4

5

In [10]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mandragorassster/autocsv")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'autocsv' dataset.
Path to dataset files: /kaggle/input/autocsv

In [30]:
import pandas as pd

#create the dataframe cars from the .csv file
cars = pd.read_csv('/content/cars (1).csv')
# show the first(n) records
cars.head(10)

    mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0  14.0          8         350  165      4209          12  1972       US.
1  31.9          4          89   71      1925          14  1980   Europe.
2  17.0          8         302  140      3449          11  1971       US.
3  15.0          8         400  150      3761          10  1971       US.
4  30.5          4          98   63      2051          17  1978       US.
5  23.0          8         350  125      3900          17  1980       US.
6  13.0          8         351  158      4363          13  1974       US.
7  14.0          8         440  215      4312           9  1971       US.
8  25.4          5         183   77      3530          20  1980   Europe.
9  37.7          4          89   62      2050          17  1982    Japan.

In [31]:
# show the last(n) records
cars.tail(10)

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
251  24.0          4         121  110      2660          14  1974   Europe.
252  36.4          5         121   67      2950          20  1981   Europe.
253  13.0          8         350  145      3988          13  1974       US.
254  23.5          6         173  110      2725          13  1982       US.
255  24.0          4         113   95      2372          15  1971    Japan.
256  17.0          8         305  130      3840          15  1980       US.
257  36.1          4          91   60      1800          16  1979    Japan.
258  22.0          6         232  112      2835          15  1983       US.
259  18.0          6         232  100      3288          16  1972       US.
260  22.0          6         250  105      3353          15  1977       US.

In [32]:
# get the "shape" i.e. rows and columns of the dataframe
cars.shape

(261, 8)

In [33]:
#get the data for specific indices using .loc
cars.loc[130:150]

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
130  26.0          4          97   78      2300          15  1975   Europe.
131  28.0          4         151   90      2678          17  1981       US.
132  12.0          8         455  225      4951          11  1974       US.
133  17.0          8         304  150      3672          12  1973       US.
134  15.0          8         350  145      4440          14  1976       US.
135  16.0          8         318  150      4190          13  1977       US.
136  26.0          4          91   70      1955          21  1972       US.
137  13.0          8         302  129      3169          12  1976       US.
138  22.0          4         121   98      2945          15  1976   Europe.
139  21.0          4         120   87      2979          20  1973   Europe.
140  26.8          6         173  115      2700          13  1980       US.
141  29.0          4          97   75      2171          16  1976    Japan.
142  32.0          4         144   96      2665          14  1983    Japan.
143  35.1          4          81   60      1760          16  1982    Japan.
144  19.2          8         267  125      3605          15  1980       US.
145  23.0          4         120   88      2957          17  1976   Europe.
146  20.6          6         225  110      3360          17  1980       US.
147  27.0          4         151   90      2735          18  1983       US.
148  15.0          8         350  165      3693          12  1971       US.
149  18.1          8         302  139      3205          11  1979       US.
150  31.3          4         120   75      2542          18  1981    Japan.

In [34]:
#return specific columns
cars.loc[130:150,['brand','hp']]

        brand   hp
130   Europe.   78
131       US.   90
132       US.  225
133       US.  150
134       US.  145
135       US.  150
136       US.   70
137       US.  129
138   Europe.   98
139   Europe.   87
140       US.  115
141    Japan.   75
142    Japan.   96
143    Japan.   60
144       US.  125
145   Europe.   88
146       US.  110
147       US.   90
148       US.  165
149       US.  139
150    Japan.   75

In [35]:
#return subset using iloc ('index location') module
#[startrow, endrow, [column1, column2]]
cars.iloc[10:101, [1,3]]

     cylinders   hp
10           4   70
11           4   78
12           8  140
13           8  180
14           6   90
..         ...  ...
96           8  180
97           6   88
98           8  135
99           6  100
100          8  150

[91 rows x 2 columns]

In [36]:
#get the details of the dataframe
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  261 non-null    object
 3   hp           261 non-null    int64
 4   weightlbs    261 non-null    object
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB

In [47]:
#modify a column
#this will not work if any of the values are null/empty
#cars['cubicinches'] = cars['cubicinches'].astype(int)

#coerce the null data
cars['cubicinches'] = pd.to_numeric(cars['cubicinches'], errors='coerce')
cars['weightlbs'] = pd.to_numeric(cars['weightlbs'], errors='coerce')
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  259 non-null    float64
 3   hp           261 non-null    int64
 4   weightlbs    258 non-null    float64
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 16.4+ KB

In [51]:
#check the total null values in the dataframe
cars.isna().sum()

mpg            0
cylinders      0
cubicinches    2
hp             0
weightlbs      3
time-to-60     0
year           0
brand          0
dtype: int64

In [54]:
#drop null values if there is an insignificant amount
cars.dropna(inplace=True)

In [58]:
#check the new totals for each column
cars.info()
cars.isnull().sum()
cars.shape

<class 'pandas.core.frame.DataFrame'>
Index: 256 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          256 non-null    float64
 1   cylinders    256 non-null    int64
 2   cubicinches  256 non-null    float64
 3   hp           256 non-null    int64
 4   weightlbs    256 non-null    float64
 5   time-to-60   256 non-null    int64
 6   year         256 non-null    int64
 7   brand        256 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 18.0+ KB

(256, 8)

In [59]:
#get specific info
cars.columns

Index(['mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60',
       'year', 'brand'],
      dtype='object')

In [67]:
#apply statistical functions
# will not work for non-numeric columns
for column in cars.columns:
  print(column)
  if cars[column].dtype.name == 'object':
      print("Unique entries:",cars[column].unique())
      print("Number of each", cars[column].value_counts())
      print("most common:", cars[column].mode())
  elif cars[column].dtype.name == 'bool':
    print(cars[column].value_counts())
  else:
    print("Mean", cars[column].mean())
    print("Max", cars[column].max())
    print("Min", cars[column].min())
    print("Median", cars[column].median())
    print()

mpg
Mean 23.187109375
Max 46.6
Min 10.0
Median 22.0

cylinders
Mean 5.58984375
Max 8
Min 3
Median 5.0

cubicinches
Mean 201.3515625
Max 455.0
Min 70.0
Median 156.0

hp
Mean 106.80078125
Max 230
Min 46
Median 95.0

weightlbs
Mean 3006.4453125
Max 4997.0
Min 1613.0
Median 2832.5

time-to-60
Mean 15.49609375
Max 25
Min 8
Median 16.0

year
Mean 1976.828125
Max 1983
Min 1971
Median 1977.0

brand
Unique entries: [' US.' ' Europe.' ' Japan.']
Number of each brand
US.        158
Japan.      51
Europe.     47
Name: count, dtype: int64
most common: 0     US.
Name: brand, dtype: object

In [70]:
#get a list of each column name
col = list(cars.columns)
print(col)

['mpg', 'cylinders', 'cubicinches', 'hp', 'weightlbs', 'time-to-60', 'year', 'brand']

In [71]:
#get statistics for each column
cars.describe()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year
count,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000
mean,23.187109,5.589844,201.351562,106.800781,3006.445312,15.496094,1976.828125
std,7.870573,1.746631,109.572151,40.686792,855.572147,2.905030,3.635575
min,10.000000,3.000000,70.000000,46.000000,1613.000000,8.000000,1971.000000
25%,16.800000,4.000000,100.250000,75.000000,2245.750000,14.000000,1974.000000
50%,22.000000,5.000000,156.000000,95.000000,2832.500000,16.000000,1977.000000
75%,28.850000,8.000000,304.000000,139.000000,3666.000000,17.000000,1980.000000
max,46.600000,8.000000,455.000000,230.000000,4997.000000,25.000000,1983.000000

In [72]:
#replace null strings/objects with mode, numeric values with median
for column in cars.columns:
  if cars[column].dtype.name == 'object':
    cars[column].fillna(cars[column].mode()[0], inplace=True)
  elif cars[column].dtype.name == 'bool':
    cars[column].fillna

In [73]:
#remove duplicates
cars.drop_duplicates(inplace=True)

In [75]:
cars.shape
cars.describe()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year
count,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000,256.000000
mean,23.187109,5.589844,201.351562,106.800781,3006.445312,15.496094,1976.828125
std,7.870573,1.746631,109.572151,40.686792,855.572147,2.905030,3.635575
min,10.000000,3.000000,70.000000,46.000000,1613.000000,8.000000,1971.000000
25%,16.800000,4.000000,100.250000,75.000000,2245.750000,14.000000,1974.000000
50%,22.000000,5.000000,156.000000,95.000000,2832.500000,16.000000,1977.000000
75%,28.850000,8.000000,304.000000,139.000000,3666.000000,17.000000,1980.000000
max,46.600000,8.000000,455.000000,230.000000,4997.000000,25.000000,1983.000000

In [76]:
#drop specific columns
cars.drop(['year'], axis=1, inplace=True)
#axis=0 refers to rows, axis=1 refers to columns

In [77]:
#delete the first record
cars = cars.drop(0, axis=0)

In [79]:
cars.describe()

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60
count,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000
mean,23.223137,5.580392,200.768627,106.572549,3001.729412,15.509804
std,7.864871,1.743494,109.389166,40.602277,853.914410,2.902433
min,10.000000,3.000000,70.000000,46.000000,1613.000000,8.000000
25%,16.950000,4.000000,99.500000,75.000000,2245.500000,14.000000
50%,22.000000,5.000000,156.000000,95.000000,2830.000000,16.000000
75%,28.900000,8.000000,303.000000,138.500000,3654.500000,17.000000
max,46.600000,8.000000,455.000000,230.000000,4997.000000,25.000000

In [80]:
#rename one or many columns
cars.rename(columns={'brand':'Make', 'cubicinches':'Cu. In.', 'hp':'HorsePower', 'weightlbs': 'Weight (lbs)'}, inplace=True)

In [84]:
#filter data on specific conditions
cars[cars['HorsePower'] > 200]
filter = cars['HorsePower'] > 200
cars[filter]

      mpg  cylinders  Cu. In.  HorsePower  Weight (lbs)  time-to-60  Make
7    14.0          8    440.0         215        4312.0           9   US.
44   14.0          8    455.0         225        3086.0          10   US.
55   16.0          8    400.0         230        4278.0          10   US.
132  12.0          8    455.0         225        4951.0          11   US.
152  14.0          8    455.0         225        4425.0          10   US.
189  13.0          8    440.0         215        4735.0          11   US.
226  10.0          8    360.0         215        4615.0          14   US.
244  14.0          8    454.0         220        4354.0           9   US.

In [87]:
#create a filter with or condition as one statement
filter = (cars['HorsePower'] > 200) | (cars['HorsePower'] < 100)
cars[filter]

      mpg  cylinders  Cu. In.  HorsePower  Weight (lbs)  time-to-60      Make
1    31.9          4     89.0          71        1925.0          14   Europe.
4    30.5          4     98.0          63        2051.0          17       US.
7    14.0          8    440.0         215        4312.0           9       US.
8    25.4          5    183.0          77        3530.0          20   Europe.
9    37.7          4     89.0          62        2050.0          17    Japan.
..    ...        ...      ...         ...           ...         ...       ...
249  29.0          4    135.0          84        2525.0          16       US.
250  32.1          4     98.0          70        2120.0          16       US.
252  36.4          5    121.0          67        2950.0          20   Europe.
255  24.0          4    113.0          95        2372.0          15    Japan.
257  36.1          4     91.0          60        1800.0          16    Japan.

[150 rows x 7 columns]

In [90]:
#create a filter with and condition as one statement
filter = (cars['HorsePower'] > 200) & (cars['HorsePower'] < 300)
cars[filter]

      mpg  cylinders  Cu. In.  HorsePower  Weight (lbs)  time-to-60  Make
7    14.0          8    440.0         215        4312.0           9   US.
44   14.0          8    455.0         225        3086.0          10   US.
55   16.0          8    400.0         230        4278.0          10   US.
132  12.0          8    455.0         225        4951.0          11   US.
152  14.0          8    455.0         225        4425.0          10   US.
189  13.0          8    440.0         215        4735.0          11   US.
226  10.0          8    360.0         215        4615.0          14   US.
244  14.0          8    454.0         220        4354.0           9   US.